.DS_Store
_site/

.sass-cache
node_modules

.ruby-version

# don't need these in the npm package.
.github/
src/
_config.yml
_config-deploy.yml
.all-contributorsrc
.travis.yml
bower.json
component.json
composer.json
CONTRIBUTING.md
Gemfile
Gemfile.lock
