<section id="submitting-pull-requests">
  <h2 class="page-header">Submitting Pull Requests</h2>
  Found a way to solve a bug in {{ site.forkawesome.name }}? Want to contribute new features or a new icon?
  <ol>
    <li>
      Clone the repository and work on your proposal.
    </li>
    <li>
      Then, when you think it's ready or when you want feedback,
      <a href="{{ site.forkawesome.github.url }}/issues/new">submit a pull
      request</a>.
    </li>
    <li>
      Discuss with rest of the community and follow up on conversations until
      your pull request is merged.
    </li>
  </ol>
</section>
