<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>glass</key>
    <string>glass.glif</string>
    <key>music</key>
    <string>music.glif</string>
    <key>search</key>
    <string>search.glif</string>
    <key>envelope_alt</key>
    <string>envelope_alt.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>star</key>
    <string>star.glif</string>
    <key>star_o</key>
    <string>star_o.glif</string>
    <key>user</key>
    <string>user.glif</string>
    <key>film</key>
    <string>film.glif</string>
    <key>th_large</key>
    <string>th_large.glif</string>
    <key>th</key>
    <string>th.glif</string>
    <key>th_list</key>
    <string>th_list.glif</string>
    <key>check</key>
    <string>check.glif</string>
    <key>remove</key>
    <string>remove.glif</string>
    <key>search_plus</key>
    <string>search_plus.glif</string>
    <key>search_minus</key>
    <string>search_minus.glif</string>
    <key>power_off</key>
    <string>power_off.glif</string>
    <key>signal</key>
    <string>signal.glif</string>
    <key>cog</key>
    <string>cog.glif</string>
    <key>trash_o</key>
    <string>trash_o.glif</string>
    <key>home</key>
    <string>home.glif</string>
    <key>file_o</key>
    <string>file_o.glif</string>
    <key>clock_o</key>
    <string>clock_o.glif</string>
    <key>road</key>
    <string>road.glif</string>
    <key>download</key>
    <string>download.glif</string>
    <key>arrow_circle_o_down</key>
    <string>arrow_circle_o_down.glif</string>
    <key>arrow_circle_o_up</key>
    <string>arrow_circle_o_up.glif</string>
    <key>inbox</key>
    <string>inbox.glif</string>
    <key>play_circle_o</key>
    <string>play_circle_o.glif</string>
    <key>repeat</key>
    <string>repeat.glif</string>
    <key>refresh</key>
    <string>refresh.glif</string>
    <key>list_alt</key>
    <string>list_alt.glif</string>
    <key>lock</key>
    <string>lock.glif</string>
    <key>flag</key>
    <string>flag.glif</string>
    <key>headphones</key>
    <string>headphones.glif</string>
    <key>volume_off</key>
    <string>volume_off.glif</string>
    <key>volume_down</key>
    <string>volume_down.glif</string>
    <key>volume_up</key>
    <string>volume_up.glif</string>
    <key>qrcode</key>
    <string>qrcode.glif</string>
    <key>barcode</key>
    <string>barcode.glif</string>
    <key>tag</key>
    <string>tag.glif</string>
    <key>tags</key>
    <string>tags.glif</string>
    <key>book</key>
    <string>book.glif</string>
    <key>bookmark</key>
    <string>bookmark.glif</string>
    <key>print</key>
    <string>print.glif</string>
    <key>camera</key>
    <string>camera.glif</string>
    <key>font</key>
    <string>font.glif</string>
    <key>bold</key>
    <string>bold.glif</string>
    <key>italic</key>
    <string>italic.glif</string>
    <key>text_height</key>
    <string>text_height.glif</string>
    <key>text_width</key>
    <string>text_width.glif</string>
    <key>align_left</key>
    <string>align_left.glif</string>
    <key>align_center</key>
    <string>align_center.glif</string>
    <key>align_right</key>
    <string>align_right.glif</string>
    <key>align_justify</key>
    <string>align_justify.glif</string>
    <key>list</key>
    <string>list.glif</string>
    <key>dedent</key>
    <string>dedent.glif</string>
    <key>indent</key>
    <string>indent.glif</string>
    <key>video_camera</key>
    <string>video_camera.glif</string>
    <key>picture_o</key>
    <string>picture_o.glif</string>
    <key>pencil</key>
    <string>pencil.glif</string>
    <key>map_marker</key>
    <string>map_marker.glif</string>
    <key>adjust</key>
    <string>adjust.glif</string>
    <key>tint</key>
    <string>tint.glif</string>
    <key>edit</key>
    <string>edit.glif</string>
    <key>share_square_o</key>
    <string>share_square_o.glif</string>
    <key>check_square_o</key>
    <string>check_square_o.glif</string>
    <key>arrrows</key>
    <string>arrrows.glif</string>
    <key>step_backward</key>
    <string>step_backward.glif</string>
    <key>fast_backward</key>
    <string>fast_backward.glif</string>
    <key>backward</key>
    <string>backward.glif</string>
    <key>play</key>
    <string>play.glif</string>
    <key>pause</key>
    <string>pause.glif</string>
    <key>stop</key>
    <string>stop.glif</string>
    <key>forward</key>
    <string>forward.glif</string>
    <key>fast_forward</key>
    <string>fast_forward.glif</string>
    <key>step_forward</key>
    <string>step_forward.glif</string>
    <key>eject</key>
    <string>eject.glif</string>
    <key>chevron_left</key>
    <string>chevron_left.glif</string>
    <key>chevron_right</key>
    <string>chevron_right.glif</string>
    <key>plus_circle</key>
    <string>plus_circle.glif</string>
    <key>minus_circle</key>
    <string>minus_circle.glif</string>
    <key>times_circle</key>
    <string>times_circle.glif</string>
    <key>check_circle</key>
    <string>check_circle.glif</string>
    <key>question_circle</key>
    <string>question_circle.glif</string>
    <key>info_circle</key>
    <string>info_circle.glif</string>
    <key>crosshairs</key>
    <string>crosshairs.glif</string>
    <key>times_circle_o</key>
    <string>times_circle_o.glif</string>
    <key>check_circle_o</key>
    <string>check_circle_o.glif</string>
    <key>ban</key>
    <string>ban.glif</string>
    <key>arrow_left</key>
    <string>arrow_left.glif</string>
    <key>arrow_right</key>
    <string>arrow_right.glif</string>
    <key>arrow_up</key>
    <string>arrow_up.glif</string>
    <key>arrow_down</key>
    <string>arrow_down.glif</string>
    <key>uniF1E0</key>
    <string>uniF_1E_0.glif</string>
    <key>expand</key>
    <string>expand.glif</string>
    <key>compress</key>
    <string>compress.glif</string>
    <key>exclamation_circle</key>
    <string>exclamation_circle.glif</string>
    <key>gift</key>
    <string>gift.glif</string>
    <key>leaf</key>
    <string>leaf.glif</string>
    <key>fire</key>
    <string>fire.glif</string>
    <key>eye</key>
    <string>eye.glif</string>
    <key>eye_slash</key>
    <string>eye_slash.glif</string>
    <key>exclamation_triangle</key>
    <string>exclamation_triangle.glif</string>
    <key>plane</key>
    <string>plane.glif</string>
    <key>calendar</key>
    <string>calendar.glif</string>
    <key>random</key>
    <string>random.glif</string>
    <key>comment</key>
    <string>comment.glif</string>
    <key>magnet</key>
    <string>magnet.glif</string>
    <key>chevron_up</key>
    <string>chevron_up.glif</string>
    <key>chevron_down</key>
    <string>chevron_down.glif</string>
    <key>retweet</key>
    <string>retweet.glif</string>
    <key>shopping_cart</key>
    <string>shopping_cart.glif</string>
    <key>folder</key>
    <string>folder.glif</string>
    <key>folder_open</key>
    <string>folder_open.glif</string>
    <key>arrows_v</key>
    <string>arrows_v.glif</string>
    <key>arrows_h</key>
    <string>arrows_h.glif</string>
    <key>bar_chart</key>
    <string>bar_chart.glif</string>
    <key>twitter_square</key>
    <string>twitter_square.glif</string>
    <key>facebook_square</key>
    <string>facebook_square.glif</string>
    <key>camera_retro</key>
    <string>camera_retro.glif</string>
    <key>key</key>
    <string>key.glif</string>
    <key>cogs</key>
    <string>cogs.glif</string>
    <key>comments</key>
    <string>comments.glif</string>
    <key>thumbs_o_up</key>
    <string>thumbs_o_up.glif</string>
    <key>thumbs_o_down</key>
    <string>thumbs_o_down.glif</string>
    <key>star_half</key>
    <string>star_half.glif</string>
    <key>heart_o</key>
    <string>heart_o.glif</string>
    <key>sign_out</key>
    <string>sign_out.glif</string>
    <key>linkedin_square</key>
    <string>linkedin_square.glif</string>
    <key>thumb_tack</key>
    <string>thumb_tack.glif</string>
    <key>external_link</key>
    <string>external_link.glif</string>
    <key>sign_in</key>
    <string>sign_in.glif</string>
    <key>trophy</key>
    <string>trophy.glif</string>
    <key>github_square</key>
    <string>github_square.glif</string>
    <key>upload</key>
    <string>upload.glif</string>
    <key>lemon_o</key>
    <string>lemon_o.glif</string>
    <key>phone</key>
    <string>phone.glif</string>
    <key>square_o</key>
    <string>square_o.glif</string>
    <key>bookmark_o</key>
    <string>bookmark_o.glif</string>
    <key>phone_square</key>
    <string>phone_square.glif</string>
    <key>twitter</key>
    <string>twitter.glif</string>
    <key>facebook</key>
    <string>facebook.glif</string>
    <key>github</key>
    <string>github.glif</string>
    <key>unlock</key>
    <string>unlock.glif</string>
    <key>credit_card</key>
    <string>credit_card.glif</string>
    <key>rss</key>
    <string>rss.glif</string>
    <key>hdd_o</key>
    <string>hdd_o.glif</string>
    <key>bullhorn</key>
    <string>bullhorn.glif</string>
    <key>bell</key>
    <string>bell.glif</string>
    <key>certificate</key>
    <string>certificate.glif</string>
    <key>hand_o_right</key>
    <string>hand_o_right.glif</string>
    <key>hand_o_left</key>
    <string>hand_o_left.glif</string>
    <key>hand_o_up</key>
    <string>hand_o_up.glif</string>
    <key>hand_o_down</key>
    <string>hand_o_down.glif</string>
    <key>arrow_circle_left</key>
    <string>arrow_circle_left.glif</string>
    <key>arrow_circle_right</key>
    <string>arrow_circle_right.glif</string>
    <key>arrow_circle_up</key>
    <string>arrow_circle_up.glif</string>
    <key>arrow_circle_down</key>
    <string>arrow_circle_down.glif</string>
    <key>globe</key>
    <string>globe.glif</string>
    <key>wrench</key>
    <string>wrench.glif</string>
    <key>tasks</key>
    <string>tasks.glif</string>
    <key>filter</key>
    <string>filter.glif</string>
    <key>briefcase</key>
    <string>briefcase.glif</string>
    <key>arrows_alt</key>
    <string>arrows_alt.glif</string>
    <key>users</key>
    <string>users.glif</string>
    <key>link</key>
    <string>link.glif</string>
    <key>cloud</key>
    <string>cloud.glif</string>
    <key>flask</key>
    <string>flask.glif</string>
    <key>scissors</key>
    <string>scissors.glif</string>
    <key>files_o</key>
    <string>files_o.glif</string>
    <key>paperclip</key>
    <string>paperclip.glif</string>
    <key>floppy_o</key>
    <string>floppy_o.glif</string>
    <key>square</key>
    <string>square.glif</string>
    <key>bars</key>
    <string>bars.glif</string>
    <key>list_ul</key>
    <string>list_ul.glif</string>
    <key>list_ol</key>
    <string>list_ol.glif</string>
    <key>strikethrough</key>
    <string>strikethrough.glif</string>
    <key>underline</key>
    <string>underline.glif</string>
    <key>table</key>
    <string>table.glif</string>
    <key>magic</key>
    <string>magic.glif</string>
    <key>truck</key>
    <string>truck.glif</string>
    <key>pinterest</key>
    <string>pinterest.glif</string>
    <key>pinterest_square</key>
    <string>pinterest_square.glif</string>
    <key>google_plus_square</key>
    <string>google_plus_square.glif</string>
    <key>google_plus</key>
    <string>google_plus.glif</string>
    <key>money</key>
    <string>money.glif</string>
    <key>caret_down</key>
    <string>caret_down.glif</string>
    <key>caret_up</key>
    <string>caret_up.glif</string>
    <key>caret_left</key>
    <string>caret_left.glif</string>
    <key>caret_right</key>
    <string>caret_right.glif</string>
    <key>columns</key>
    <string>columns.glif</string>
    <key>sort</key>
    <string>sort.glif</string>
    <key>sort_desc</key>
    <string>sort_desc.glif</string>
    <key>sort_asc</key>
    <string>sort_asc.glif</string>
    <key>envelope</key>
    <string>envelope.glif</string>
    <key>linkedin</key>
    <string>linkedin.glif</string>
    <key>undo</key>
    <string>undo.glif</string>
    <key>gavel</key>
    <string>gavel.glif</string>
    <key>tachometer</key>
    <string>tachometer.glif</string>
    <key>comment_o</key>
    <string>comment_o.glif</string>
    <key>comments_o</key>
    <string>comments_o.glif</string>
    <key>bolt</key>
    <string>bolt.glif</string>
    <key>sitemap</key>
    <string>sitemap.glif</string>
    <key>umbrella</key>
    <string>umbrella.glif</string>
    <key>clipboard</key>
    <string>clipboard.glif</string>
    <key>lightbulb_o</key>
    <string>lightbulb_o.glif</string>
    <key>exchange</key>
    <string>exchange.glif</string>
    <key>cloud_download</key>
    <string>cloud_download.glif</string>
    <key>cloud_upload</key>
    <string>cloud_upload.glif</string>
    <key>user_md</key>
    <string>user_md.glif</string>
    <key>stethoscope</key>
    <string>stethoscope.glif</string>
    <key>suitcase</key>
    <string>suitcase.glif</string>
    <key>bell_o</key>
    <string>bell_o.glif</string>
    <key>coffee</key>
    <string>coffee.glif</string>
    <key>cutlery</key>
    <string>cutlery.glif</string>
    <key>file_text_o</key>
    <string>file_text_o.glif</string>
    <key>building_o</key>
    <string>building_o.glif</string>
    <key>hospital_o</key>
    <string>hospital_o.glif</string>
    <key>ambulance</key>
    <string>ambulance.glif</string>
    <key>medkit</key>
    <string>medkit.glif</string>
    <key>fighter_jet</key>
    <string>fighter_jet.glif</string>
    <key>beer</key>
    <string>beer.glif</string>
    <key>h_square</key>
    <string>h_square.glif</string>
    <key>plus_square</key>
    <string>plus_square.glif</string>
    <key>angle_double_left</key>
    <string>angle_double_left.glif</string>
    <key>angle_double_right</key>
    <string>angle_double_right.glif</string>
    <key>angle_double_up</key>
    <string>angle_double_up.glif</string>
    <key>angle_double_down</key>
    <string>angle_double_down.glif</string>
    <key>angle_left</key>
    <string>angle_left.glif</string>
    <key>angle_right</key>
    <string>angle_right.glif</string>
    <key>angle_up</key>
    <string>angle_up.glif</string>
    <key>angle_down</key>
    <string>angle_down.glif</string>
    <key>desktop</key>
    <string>desktop.glif</string>
    <key>laptop</key>
    <string>laptop.glif</string>
    <key>tablet</key>
    <string>tablet.glif</string>
    <key>mobile</key>
    <string>mobile.glif</string>
    <key>circle_o</key>
    <string>circle_o.glif</string>
    <key>quote_left</key>
    <string>quote_left.glif</string>
    <key>quote_right</key>
    <string>quote_right.glif</string>
    <key>spinner</key>
    <string>spinner.glif</string>
    <key>circle</key>
    <string>circle.glif</string>
    <key>reply</key>
    <string>reply.glif</string>
    <key>github_alt</key>
    <string>github_alt.glif</string>
    <key>folder_o</key>
    <string>folder_o.glif</string>
    <key>folder_open_o</key>
    <string>folder_open_o.glif</string>
    <key>smile_o</key>
    <string>smile_o.glif</string>
    <key>frown_o</key>
    <string>frown_o.glif</string>
    <key>meh_o</key>
    <string>meh_o.glif</string>
    <key>gamepad</key>
    <string>gamepad.glif</string>
    <key>keyboard_o</key>
    <string>keyboard_o.glif</string>
    <key>flag_o</key>
    <string>flag_o.glif</string>
    <key>flag_checkered</key>
    <string>flag_checkered.glif</string>
    <key>terminal</key>
    <string>terminal.glif</string>
    <key>code</key>
    <string>code.glif</string>
    <key>reply_all</key>
    <string>reply_all.glif</string>
    <key>star_half_o</key>
    <string>star_half_o.glif</string>
    <key>location_arrow</key>
    <string>location_arrow.glif</string>
    <key>crop</key>
    <string>crop.glif</string>
    <key>code_fork</key>
    <string>code_fork.glif</string>
    <key>chain_broken</key>
    <string>chain_broken.glif</string>
    <key>info</key>
    <string>info.glif</string>
    <key>exclamation</key>
    <string>exclamation.glif</string>
    <key>superscript</key>
    <string>superscript.glif</string>
    <key>subscript</key>
    <string>subscript.glif</string>
    <key>eraser</key>
    <string>eraser.glif</string>
    <key>puzzle_piece</key>
    <string>puzzle_piece.glif</string>
    <key>microphone</key>
    <string>microphone.glif</string>
    <key>microphone_slash</key>
    <string>microphone_slash.glif</string>
    <key>shield</key>
    <string>shield.glif</string>
    <key>calendar_o</key>
    <string>calendar_o.glif</string>
    <key>fire_extinguisher</key>
    <string>fire_extinguisher.glif</string>
    <key>rocket</key>
    <string>rocket.glif</string>
    <key>maxcdn</key>
    <string>maxcdn.glif</string>
    <key>chevron_circle_left</key>
    <string>chevron_circle_left.glif</string>
    <key>chevron_circle_right</key>
    <string>chevron_circle_right.glif</string>
    <key>chevron_circle_up</key>
    <string>chevron_circle_up.glif</string>
    <key>chevron_circle_down</key>
    <string>chevron_circle_down.glif</string>
    <key>html5</key>
    <string>html5.glif</string>
    <key>css3</key>
    <string>css3.glif</string>
    <key>anchor</key>
    <string>anchor.glif</string>
    <key>unlock_alt</key>
    <string>unlock_alt.glif</string>
    <key>bullseye</key>
    <string>bullseye.glif</string>
    <key>ellipsis_h</key>
    <string>ellipsis_h.glif</string>
    <key>ellipsis_v</key>
    <string>ellipsis_v.glif</string>
    <key>rss_square</key>
    <string>rss_square.glif</string>
    <key>play_circle</key>
    <string>play_circle.glif</string>
    <key>ticket</key>
    <string>ticket.glif</string>
    <key>minus_square</key>
    <string>minus_square.glif</string>
    <key>minus_square_o</key>
    <string>minus_square_o.glif</string>
    <key>level_up</key>
    <string>level_up.glif</string>
    <key>level_down</key>
    <string>level_down.glif</string>
    <key>check_square</key>
    <string>check_square.glif</string>
    <key>pencil_square</key>
    <string>pencil_square.glif</string>
    <key>external_link_square</key>
    <string>external_link_square.glif</string>
    <key>share_square</key>
    <string>share_square.glif</string>
    <key>compass</key>
    <string>compass.glif</string>
    <key>caret_square_o_down</key>
    <string>caret_square_o_down.glif</string>
    <key>caret_square_o_up</key>
    <string>caret_square_o_up.glif</string>
    <key>caret_square_o_right</key>
    <string>caret_square_o_right.glif</string>
    <key>eur</key>
    <string>eur.glif</string>
    <key>gbp</key>
    <string>gbp.glif</string>
    <key>usd</key>
    <string>usd.glif</string>
    <key>inr</key>
    <string>inr.glif</string>
    <key>jpy</key>
    <string>jpy.glif</string>
    <key>rub</key>
    <string>rub.glif</string>
    <key>krw</key>
    <string>krw.glif</string>
    <key>btc</key>
    <string>btc.glif</string>
    <key>file</key>
    <string>file.glif</string>
    <key>file_text</key>
    <string>file_text.glif</string>
    <key>sort_alphabet_asc</key>
    <string>sort_alphabet_asc.glif</string>
    <key>sort_alphabet_desc</key>
    <string>sort_alphabet_desc.glif</string>
    <key>sort_amount_asc</key>
    <string>sort_amount_asc.glif</string>
    <key>sort_amount_desc</key>
    <string>sort_amount_desc.glif</string>
    <key>sort_numeric_asc</key>
    <string>sort_numeric_asc.glif</string>
    <key>sort_numeric_desc</key>
    <string>sort_numeric_desc.glif</string>
    <key>thumbs_up</key>
    <string>thumbs_up.glif</string>
    <key>thumbs_down</key>
    <string>thumbs_down.glif</string>
    <key>youtube_square</key>
    <string>youtube_square.glif</string>
    <key>youtube</key>
    <string>youtube.glif</string>
    <key>xing</key>
    <string>xing.glif</string>
    <key>xing_square</key>
    <string>xing_square.glif</string>
    <key>youtube_play</key>
    <string>youtube_play.glif</string>
    <key>dropbox</key>
    <string>dropbox.glif</string>
    <key>stack_overflow</key>
    <string>stack_overflow.glif</string>
    <key>instagram</key>
    <string>instagram.glif</string>
    <key>flickr</key>
    <string>flickr.glif</string>
    <key>adn</key>
    <string>adn.glif</string>
    <key>f171</key>
    <string>f171.glif</string>
    <key>bitbucket_square</key>
    <string>bitbucket_square.glif</string>
    <key>tumblr</key>
    <string>tumblr.glif</string>
    <key>tumblr_square</key>
    <string>tumblr_square.glif</string>
    <key>long_arrow_down</key>
    <string>long_arrow_down.glif</string>
    <key>long_arrow_up</key>
    <string>long_arrow_up.glif</string>
    <key>long_arrow_left</key>
    <string>long_arrow_left.glif</string>
    <key>long_arrow_right</key>
    <string>long_arrow_right.glif</string>
    <key>apple</key>
    <string>apple.glif</string>
    <key>windows</key>
    <string>windows.glif</string>
    <key>android</key>
    <string>android.glif</string>
    <key>linux</key>
    <string>linux.glif</string>
    <key>dribble</key>
    <string>dribble.glif</string>
    <key>skype</key>
    <string>skype.glif</string>
    <key>foursquare</key>
    <string>foursquare.glif</string>
    <key>trello</key>
    <string>trello.glif</string>
    <key>female</key>
    <string>female.glif</string>
    <key>male</key>
    <string>male.glif</string>
    <key>gratipay</key>
    <string>gratipay.glif</string>
    <key>sun_o</key>
    <string>sun_o.glif</string>
    <key>moon_o</key>
    <string>moon_o.glif</string>
    <key>archive</key>
    <string>archive.glif</string>
    <key>bug</key>
    <string>bug.glif</string>
    <key>vk</key>
    <string>vk.glif</string>
    <key>weibo</key>
    <string>weibo.glif</string>
    <key>renren</key>
    <string>renren.glif</string>
    <key>pagelines</key>
    <string>pagelines.glif</string>
    <key>stack_exchange</key>
    <string>stack_exchange.glif</string>
    <key>arrow_circle_o_right</key>
    <string>arrow_circle_o_right.glif</string>
    <key>arrow_circle_o_left</key>
    <string>arrow_circle_o_left.glif</string>
    <key>caret_square_o_left</key>
    <string>caret_square_o_left.glif</string>
    <key>dot_circle_o</key>
    <string>dot_circle_o.glif</string>
    <key>wheelchair</key>
    <string>wheelchair.glif</string>
    <key>vimeo_square</key>
    <string>vimeo_square.glif</string>
    <key>try</key>
    <string>try.glif</string>
    <key>plus_square_o</key>
    <string>plus_square_o.glif</string>
    <key>space_shuttle</key>
    <string>space_shuttle.glif</string>
    <key>slack</key>
    <string>slack.glif</string>
    <key>envelope_square</key>
    <string>envelope_square.glif</string>
    <key>wordpress</key>
    <string>wordpress.glif</string>
    <key>openid</key>
    <string>openid.glif</string>
    <key>university</key>
    <string>university.glif</string>
    <key>graduation_cap</key>
    <string>graduation_cap.glif</string>
    <key>yahoo</key>
    <string>yahoo.glif</string>
    <key>google</key>
    <string>google.glif</string>
    <key>reddit</key>
    <string>reddit.glif</string>
    <key>reddit_square</key>
    <string>reddit_square.glif</string>
    <key>stumbleupon_circle</key>
    <string>stumbleupon_circle.glif</string>
    <key>stumbleupon</key>
    <string>stumbleupon.glif</string>
    <key>delicious</key>
    <string>delicious.glif</string>
    <key>digg</key>
    <string>digg.glif</string>
    <key>drupal</key>
    <string>drupal.glif</string>
    <key>joomla</key>
    <string>joomla.glif</string>
    <key>language</key>
    <string>language.glif</string>
    <key>fax</key>
    <string>fax.glif</string>
    <key>building</key>
    <string>building.glif</string>
    <key>child</key>
    <string>child.glif</string>
    <key>paw</key>
    <string>paw.glif</string>
    <key>spoon</key>
    <string>spoon.glif</string>
    <key>cube</key>
    <string>cube.glif</string>
    <key>cubes</key>
    <string>cubes.glif</string>
    <key>behance</key>
    <string>behance.glif</string>
    <key>behance_square</key>
    <string>behance_square.glif</string>
    <key>steam</key>
    <string>steam.glif</string>
    <key>steam_square</key>
    <string>steam_square.glif</string>
    <key>recycle</key>
    <string>recycle.glif</string>
    <key>car</key>
    <string>car.glif</string>
    <key>taxi</key>
    <string>taxi.glif</string>
    <key>tree</key>
    <string>tree.glif</string>
    <key>spotify</key>
    <string>spotify.glif</string>
    <key>deviantart</key>
    <string>deviantart.glif</string>
    <key>soundcloud</key>
    <string>soundcloud.glif</string>
    <key>database</key>
    <string>database.glif</string>
    <key>file_pdf_o</key>
    <string>file_pdf_o.glif</string>
    <key>file_word_o</key>
    <string>file_word_o.glif</string>
    <key>file_excel_o</key>
    <string>file_excel_o.glif</string>
    <key>file_powerpoint_o</key>
    <string>file_powerpoint_o.glif</string>
    <key>file_image_o</key>
    <string>file_image_o.glif</string>
    <key>file_archive_o</key>
    <string>file_archive_o.glif</string>
    <key>file_audio_o</key>
    <string>file_audio_o.glif</string>
    <key>file_video_o</key>
    <string>file_video_o.glif</string>
    <key>file_code_o</key>
    <string>file_code_o.glif</string>
    <key>vine</key>
    <string>vine.glif</string>
    <key>codepen</key>
    <string>codepen.glif</string>
    <key>jsfiddle</key>
    <string>jsfiddle.glif</string>
    <key>life_ring</key>
    <string>life_ring.glif</string>
    <key>circle_o_notch</key>
    <string>circle_o_notch.glif</string>
    <key>rebel</key>
    <string>rebel.glif</string>
    <key>empire</key>
    <string>empire.glif</string>
    <key>git_square</key>
    <string>git_square.glif</string>
    <key>git</key>
    <string>git.glif</string>
    <key>hacker_news</key>
    <string>hacker_news.glif</string>
    <key>tecent_weibo</key>
    <string>tecent_weibo.glif</string>
    <key>qq</key>
    <string>qq.glif</string>
    <key>weixin</key>
    <string>weixin.glif</string>
    <key>paper_plane</key>
    <string>paper_plane.glif</string>
    <key>paper_plane_o</key>
    <string>paper_plane_o.glif</string>
    <key>history</key>
    <string>history.glif</string>
    <key>circle_thin</key>
    <string>circle_thin.glif</string>
    <key>header</key>
    <string>header.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>sliders</key>
    <string>sliders.glif</string>
    <key>share_alt</key>
    <string>share_alt.glif</string>
    <key>share_alt_square</key>
    <string>share_alt_square.glif</string>
    <key>bomb</key>
    <string>bomb.glif</string>
    <key>futbol_o</key>
    <string>futbol_o.glif</string>
    <key>tty</key>
    <string>tty.glif</string>
    <key>binoculars</key>
    <string>binoculars.glif</string>
    <key>plug</key>
    <string>plug.glif</string>
    <key>slideshare</key>
    <string>slideshare.glif</string>
    <key>twitch</key>
    <string>twitch.glif</string>
    <key>yelp</key>
    <string>yelp.glif</string>
    <key>newspaper_o</key>
    <string>newspaper_o.glif</string>
    <key>wifi</key>
    <string>wifi.glif</string>
    <key>calculator</key>
    <string>calculator.glif</string>
    <key>paypal</key>
    <string>paypal.glif</string>
    <key>google_wallet</key>
    <string>google_wallet.glif</string>
    <key>visa</key>
    <string>visa.glif</string>
    <key>mastercard</key>
    <string>mastercard.glif</string>
    <key>discover</key>
    <string>discover.glif</string>
    <key>amex</key>
    <string>amex.glif</string>
    <key>cc_paypal</key>
    <string>cc_paypal.glif</string>
    <key>stripe</key>
    <string>stripe.glif</string>
    <key>bell_slash</key>
    <string>bell_slash.glif</string>
    <key>bell_slash_o</key>
    <string>bell_slash_o.glif</string>
    <key>trash</key>
    <string>trash.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>eyedropper</key>
    <string>eyedropper.glif</string>
    <key>paint_brush</key>
    <string>paint_brush.glif</string>
    <key>birthday_cake</key>
    <string>birthday_cake.glif</string>
    <key>area_chart</key>
    <string>area_chart.glif</string>
    <key>pie_chart</key>
    <string>pie_chart.glif</string>
    <key>line_chart</key>
    <string>line_chart.glif</string>
    <key>lastfm</key>
    <string>lastfm.glif</string>
    <key>lastfm_square</key>
    <string>lastfm_square.glif</string>
    <key>toggle_off</key>
    <string>toggle_off.glif</string>
    <key>toggle_on</key>
    <string>toggle_on.glif</string>
    <key>bicycle</key>
    <string>bicycle.glif</string>
    <key>bus</key>
    <string>bus.glif</string>
    <key>ioxhost</key>
    <string>ioxhost.glif</string>
    <key>argellist</key>
    <string>argellist.glif</string>
    <key>cc</key>
    <string>cc.glif</string>
    <key>ils</key>
    <string>ils.glif</string>
    <key>meanpath</key>
    <string>meanpath.glif</string>
    <key>buysellads</key>
    <string>buysellads.glif</string>
    <key>connectdevelop</key>
    <string>connectdevelop.glif</string>
    <key>dashcube</key>
    <string>dashcube.glif</string>
    <key>forumbee</key>
    <string>forumbee.glif</string>
    <key>leanpub</key>
    <string>leanpub.glif</string>
    <key>sellsy</key>
    <string>sellsy.glif</string>
    <key>shirtsinbulk</key>
    <string>shirtsinbulk.glif</string>
    <key>simplybuilt</key>
    <string>simplybuilt.glif</string>
    <key>skyatlas</key>
    <string>skyatlas.glif</string>
    <key>cart_plus</key>
    <string>cart_plus.glif</string>
    <key>cart_arrow_down</key>
    <string>cart_arrow_down.glif</string>
    <key>diamond</key>
    <string>diamond.glif</string>
    <key>ship</key>
    <string>ship.glif</string>
    <key>user_secret</key>
    <string>user_secret.glif</string>
    <key>motorcycle</key>
    <string>motorcycle.glif</string>
    <key>street_view</key>
    <string>street_view.glif</string>
    <key>heartbeat</key>
    <string>heartbeat.glif</string>
    <key>venus</key>
    <string>venus.glif</string>
    <key>mars</key>
    <string>mars.glif</string>
    <key>mercury</key>
    <string>mercury.glif</string>
    <key>transgender</key>
    <string>transgender.glif</string>
    <key>transgender_alt</key>
    <string>transgender_alt.glif</string>
    <key>venus_double</key>
    <string>venus_double.glif</string>
    <key>mars_double</key>
    <string>mars_double.glif</string>
    <key>venu_mars</key>
    <string>venu_mars.glif</string>
    <key>mars_stroke</key>
    <string>mars_stroke.glif</string>
    <key>mars_stroke_v</key>
    <string>mars_stroke_v.glif</string>
    <key>mars_stroke_h</key>
    <string>mars_stroke_h.glif</string>
    <key>neuter</key>
    <string>neuter.glif</string>
    <key>genderless</key>
    <string>genderless.glif</string>
    <key>facebook_official</key>
    <string>facebook_official.glif</string>
    <key>pinterest_p</key>
    <string>pinterest_p.glif</string>
    <key>whatsapp</key>
    <string>whatsapp.glif</string>
    <key>server</key>
    <string>server.glif</string>
    <key>user_plus</key>
    <string>user_plus.glif</string>
    <key>user_times</key>
    <string>user_times.glif</string>
    <key>bed</key>
    <string>bed.glif</string>
    <key>viacoin</key>
    <string>viacoin.glif</string>
    <key>train</key>
    <string>train.glif</string>
    <key>subway</key>
    <string>subway.glif</string>
    <key>medium</key>
    <string>medium.glif</string>
    <key>y_combinator</key>
    <string>y_combinator.glif</string>
    <key>optin_monster</key>
    <string>optin_monster.glif</string>
    <key>opencart</key>
    <string>opencart.glif</string>
    <key>expeditedssl</key>
    <string>expeditedssl.glif</string>
    <key>battery_full</key>
    <string>battery_full.glif</string>
    <key>battery_three_quarters</key>
    <string>battery_three_quarters.glif</string>
    <key>battery_half</key>
    <string>battery_half.glif</string>
    <key>battery_quarter</key>
    <string>battery_quarter.glif</string>
    <key>battery_empty</key>
    <string>battery_empty.glif</string>
    <key>mouse_pointer</key>
    <string>mouse_pointer.glif</string>
    <key>i_cursor</key>
    <string>i_cursor.glif</string>
    <key>object_group</key>
    <string>object_group.glif</string>
    <key>object_ungroup</key>
    <string>object_ungroup.glif</string>
    <key>sticky_note</key>
    <string>sticky_note.glif</string>
    <key>sticky_note_o</key>
    <string>sticky_note_o.glif</string>
    <key>cc_jcb</key>
    <string>cc_jcb.glif</string>
    <key>cc_diners_club</key>
    <string>cc_diners_club.glif</string>
    <key>clone</key>
    <string>clone.glif</string>
    <key>balance_scale</key>
    <string>balance_scale.glif</string>
    <key>hourglass_o</key>
    <string>hourglass_o.glif</string>
    <key>hourglass_start</key>
    <string>hourglass_start.glif</string>
    <key>hourglass_half</key>
    <string>hourglass_half.glif</string>
    <key>hourglass_end</key>
    <string>hourglass_end.glif</string>
    <key>hourglass</key>
    <string>hourglass.glif</string>
    <key>hand_rock_o</key>
    <string>hand_rock_o.glif</string>
    <key>hand_paper_o</key>
    <string>hand_paper_o.glif</string>
    <key>hand_scissors_o</key>
    <string>hand_scissors_o.glif</string>
    <key>hand_lizard_o</key>
    <string>hand_lizard_o.glif</string>
    <key>hand_spock_o</key>
    <string>hand_spock_o.glif</string>
    <key>hand_pointer_o</key>
    <string>hand_pointer_o.glif</string>
    <key>hand_peace_o</key>
    <string>hand_peace_o.glif</string>
    <key>tardemark</key>
    <string>tardemark.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>creative_commons</key>
    <string>creative_commons.glif</string>
    <key>gg</key>
    <string>gg.glif</string>
    <key>gg_circle</key>
    <string>gg_circle.glif</string>
    <key>tripadvisor</key>
    <string>tripadvisor.glif</string>
    <key>odnoklassniki</key>
    <string>odnoklassniki.glif</string>
    <key>odnoklassnike_square</key>
    <string>odnoklassnike_square.glif</string>
    <key>get_pocket</key>
    <string>get_pocket.glif</string>
    <key>wikipedia_w</key>
    <string>wikipedia_w.glif</string>
    <key>safari</key>
    <string>safari.glif</string>
    <key>chrome</key>
    <string>chrome.glif</string>
    <key>firefox</key>
    <string>firefox.glif</string>
    <key>opera</key>
    <string>opera.glif</string>
    <key>internet_explorer</key>
    <string>internet_explorer.glif</string>
    <key>television</key>
    <string>television.glif</string>
    <key>contao</key>
    <string>contao.glif</string>
    <key>_500px</key>
    <string>_500px.glif</string>
    <key>amazon</key>
    <string>amazon.glif</string>
    <key>calendar_plus_o</key>
    <string>calendar_plus_o.glif</string>
    <key>calendar_minus_o</key>
    <string>calendar_minus_o.glif</string>
    <key>calendar_times_o</key>
    <string>calendar_times_o.glif</string>
    <key>calendar_check_o</key>
    <string>calendar_check_o.glif</string>
    <key>industry</key>
    <string>industry.glif</string>
    <key>map_pin</key>
    <string>map_pin.glif</string>
    <key>map_signs</key>
    <string>map_signs.glif</string>
    <key>map_o</key>
    <string>map_o.glif</string>
    <key>map</key>
    <string>map.glif</string>
    <key>commenting</key>
    <string>commenting.glif</string>
    <key>commenting_o</key>
    <string>commenting_o.glif</string>
    <key>houzz</key>
    <string>houzz.glif</string>
    <key>vimeo</key>
    <string>vimeo.glif</string>
    <key>black_tie</key>
    <string>black_tie.glif</string>
    <key>fonticons</key>
    <string>fonticons.glif</string>
    <key>reddit_alien</key>
    <string>reddit_alien.glif</string>
    <key>edge</key>
    <string>edge.glif</string>
    <key>credit_card_alt</key>
    <string>credit_card_alt.glif</string>
    <key>codepie</key>
    <string>codepie.glif</string>
    <key>modx</key>
    <string>modx.glif</string>
    <key>fort_awesome</key>
    <string>fort_awesome.glif</string>
    <key>usb</key>
    <string>usb.glif</string>
    <key>product_hunt</key>
    <string>product_hunt.glif</string>
    <key>mixcloud</key>
    <string>mixcloud.glif</string>
    <key>scribd</key>
    <string>scribd.glif</string>
    <key>pause_circle</key>
    <string>pause_circle.glif</string>
    <key>pause_circle_o</key>
    <string>pause_circle_o.glif</string>
    <key>stop_circle</key>
    <string>stop_circle.glif</string>
    <key>stop_circle_o</key>
    <string>stop_circle_o.glif</string>
    <key>shopping_bag</key>
    <string>shopping_bag.glif</string>
    <key>shopping_basket</key>
    <string>shopping_basket.glif</string>
    <key>hashtag</key>
    <string>hashtag.glif</string>
    <key>bluetooth</key>
    <string>bluetooth.glif</string>
    <key>bluetooth_b</key>
    <string>bluetooth_b.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>gitlab</key>
    <string>gitlab.glif</string>
    <key>wpbeginner</key>
    <string>wpbeginner.glif</string>
    <key>wpforms</key>
    <string>wpforms.glif</string>
    <key>envira</key>
    <string>envira.glif</string>
    <key>universal_access</key>
    <string>universal_access.glif</string>
    <key>wheelchair_alt</key>
    <string>wheelchair_alt.glif</string>
    <key>question_circle_o</key>
    <string>question_circle_o.glif</string>
    <key>blind</key>
    <string>blind.glif</string>
    <key>audio_description</key>
    <string>audio_description.glif</string>
    <key>volume_control_phone</key>
    <string>volume_control_phone.glif</string>
    <key>braille</key>
    <string>braille.glif</string>
    <key>assistive_listening_systems</key>
    <string>assistive_listening_systems.glif</string>
    <key>american_sign_language_interp</key>
    <string>american_sign_language_interp.glif</string>
    <key>deaf</key>
    <string>deaf.glif</string>
    <key>glide</key>
    <string>glide.glif</string>
    <key>glide_g</key>
    <string>glide_g.glif</string>
    <key>sign_language</key>
    <string>sign_language.glif</string>
    <key>low_vision</key>
    <string>low_vision.glif</string>
    <key>viadeo</key>
    <string>viadeo.glif</string>
    <key>viadeo_square</key>
    <string>viadeo_square.glif</string>
    <key>snapchat</key>
    <string>snapchat.glif</string>
    <key>snapchat_ghost</key>
    <string>snapchat_ghost.glif</string>
    <key>snapchat_square</key>
    <string>snapchat_square.glif</string>
    <key>first_order</key>
    <string>first_order.glif</string>
    <key>yoast</key>
    <string>yoast.glif</string>
    <key>themeisle</key>
    <string>themeisle.glif</string>
    <key>google_plus_official</key>
    <string>google_plus_official.glif</string>
    <key>font_awesome</key>
    <string>font_awesome.glif</string>
    <key>handshake_o</key>
    <string>handshake_o.glif</string>
    <key>envelope_open</key>
    <string>envelope_open.glif</string>
    <key>envelope_open_o</key>
    <string>envelope_open_o.glif</string>
    <key>linode</key>
    <string>linode.glif</string>
    <key>address_book</key>
    <string>address_book.glif</string>
    <key>address_book_o</key>
    <string>address_book_o.glif</string>
    <key>address_card</key>
    <string>address_card.glif</string>
    <key>address_card_o</key>
    <string>address_card_o.glif</string>
    <key>user_circle</key>
    <string>user_circle.glif</string>
    <key>user_circle_o</key>
    <string>user_circle_o.glif</string>
    <key>user_o</key>
    <string>user_o.glif</string>
    <key>id_badge</key>
    <string>id_badge.glif</string>
    <key>id_card</key>
    <string>id_card.glif</string>
    <key>id_card_o</key>
    <string>id_card_o.glif</string>
    <key>quora</key>
    <string>quora.glif</string>
    <key>free_code_camp</key>
    <string>free_code_camp.glif</string>
    <key>telegram</key>
    <string>telegram.glif</string>
    <key>thermometer_full</key>
    <string>thermometer_full.glif</string>
    <key>thermometer_three_quarters</key>
    <string>thermometer_three_quarters.glif</string>
    <key>thermometer_half</key>
    <string>thermometer_half.glif</string>
    <key>thermometer_quarter</key>
    <string>thermometer_quarter.glif</string>
    <key>thermometer_empty</key>
    <string>thermometer_empty.glif</string>
    <key>shower</key>
    <string>shower.glif</string>
    <key>bath</key>
    <string>bath.glif</string>
    <key>podcast</key>
    <string>podcast.glif</string>
    <key>window_maximize</key>
    <string>window_maximize.glif</string>
    <key>window_minimize</key>
    <string>window_minimize.glif</string>
    <key>window_restore</key>
    <string>window_restore.glif</string>
    <key>window_close</key>
    <string>window_close.glif</string>
    <key>window_close_o</key>
    <string>window_close_o.glif</string>
    <key>bandcamp</key>
    <string>bandcamp.glif</string>
    <key>grav</key>
    <string>grav.glif</string>
    <key>etsy</key>
    <string>etsy.glif</string>
    <key>imdb</key>
    <string>imdb.glif</string>
    <key>ravelry</key>
    <string>ravelry.glif</string>
    <key>eercast</key>
    <string>eercast.glif</string>
    <key>microchip</key>
    <string>microchip.glif</string>
    <key>snowflake_o</key>
    <string>snowflake_o.glif</string>
    <key>superpowers</key>
    <string>superpowers.glif</string>
    <key>wpexplorer</key>
    <string>wpexplorer.glif</string>
    <key>meetup</key>
    <string>meetup.glif</string>
    <key>mastodon</key>
    <string>mastodon.glif</string>
    <key>mastodon_alt</key>
    <string>mastodon_alt.glif</string>
  </dict>
</plist>
